*{
    margin: 0;
    padding: 0;
}
.header{
    height: 60px;
    background-color: #fff;
    color: #666;

}
.btn, .btn-default{
    border: none;
    margin-left: 10px;
    margin-top: 15px;
    display: inline-block;
}
.main{
    position: relative;
}
.main div{
    position: absolute;
}
.navigation{
    width: 250px;
    min-height: 600px;
    left: 0;
    background-color: grey;
}
